<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>All Users</h1>
        <table class="table table-striped">
            <th scope="col">Id</th>
            <th scope="col">Full Name</th>
            <th scope="col">Email</th>
            <th scope="col">Created At</th>
            <th scope-"col">Actions</th>
            {% for user in users %}       
                <tr scope="row">
                    <td>{{user.id}}</td>
                    <td>{{(user.first_name).capitalize()}} {{(user.last_name).capitalize()}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.created_at}}</td>
                    <td>
                        <a href="/get-user/{{user.id}}">Show</a>
                        <span> | </span>
                        <a href="/get-user/{{user.id}}/edit">Edit</a>
                        <span> | </span>
                        <a href="/get-user/{{user.id}}/delete">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <a href="/create-user"><button class="btn btn-primary">Add new user</button></a>
    </div>
</body>
</html>