<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <nav>
        <div class="container">
            <div class="row gx-5">
                <div class="col bg-dark d-flex justify-content-between">
                    <h1 class="text-primary m-2">Welcome {{logged_in_user.first_name}}</h1>
                    <div>
                        <button class="btn btn-success m-2" onclick="window.location.href='/rides/dashboard'">Dashboard</button>
                        <button class="btn btn-primary m-2" onclick="window.location.href='/logout'">Logout</button>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="container bg-dark p-2">
        <h1 class="text-primary">Ready for your trip to {{this_ride.destination}}?</h1>
        <div class="row bg-light m-2">
            <div class="col">
                <p class="fs-3 fw-bold">Who's driving?</p>
                <p class="fs-3 fw-bold">Who's coming along?</p>
                <p class="fs-3 fw-bold">Date:</p>
                <p class="fs-3 fw-bold">Pick Up Location:</p>
                <p class="fs-3 fw-bold">Details:</p>
                <button class="btn btn-danger m-2" onclick="window.location.href='/rides/delete/{{this_ride.id}}'">Cancel</button>
                <button class="btn btn-info m-2" onclick="window.location.href='/rides/edit/{{this_ride.id}}'">Edit</button>
            </div>
            <div class="col">
                <p class="fs-3">{{this_ride.driver.first_name}}</p>
                <p class="fs-3">{{this_ride.creator.first_name}}</p>
                <p class="fs-3">{{this_ride.date.strftime('%b %e')}}</p>
                <p class="fs-3">{{this_ride.pick_up}}</p>
                <p class="fs-3">{{this_ride.details}}</p>
            </div>
        </div>
    </div>
    <div class="container bg-dark">
        <h2 class="text-light">Ride Messages:</h2>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="text-danger">{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% for message in messages %}
            <div class="row bg-light m-1">
                <div class="col"><p class="fs-4 fw-bold">{{message.creator.first_name}}</p></div>
                <div class="col"><p class="fs-4 fw-bold">{{message.content}}</p></div>
            </div>
        {% endfor %}
        <form action="/messages/post/{{this_ride.id}}" method="post">
            <input type="hidden" name="user_id" value="{{logged_in_user.id}}">
            <input type="hidden" name="ride_id" value="{{this_ride.id}}">
            <div class="form-group m-1">
                <input type="text" class="form-control mt-2" name="content">
                <button type="submit" class="btn btn-info m-2">Send Message</button>
            </div>
        </form>
    </div>
</body>
</html>